<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    ...
</head>
<body>
<form action="submitAuthor.html" th:attr="action=@{/home/submit/}" th:object="${author}" method="post">
    <fieldset>
        <label>First Name: </label><input type="text" th:field="*{firstName}" />
        <br><br>
        <label>last Name: </label><input type="text" th:field="*{lastName}" />
        <br><br>
        <input type="submit" value="Submit" />
        <br><br>
    </fieldset>
</form>
</body>
</html>